services:
  nginx:
    image: insale-app:latest
    container_name: nginx_ssl
    restart: unless-stopped
    user: '0:0'
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /etc/letsencrypt/archive/api.dionis.cloud/fullchain4.pem:/etc/nginx/ssl/fullchain.pem:ro
      - /etc/letsencrypt/archive/api.dionis.cloud/privkey4.pem:/etc/nginx/ssl/privkey.pem:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
