version: '3.8'

services:
  nginx:
    build: .
    container_name: nginx_ssl
    restart: always
    ports:
      - '80:80'
      - '443:443'
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
