version: '3.8'

services:
  nginx:
    build: .
    container_name: nginx_ssl
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /etc/letsencrypt/live:/etc/letsencrypt/live:ro
      - /etc/letsencrypt/archive:/etc/letsencrypt/archive:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
