version: '3.8'

services:
  nginx:
    build: .
    container_name: nginx_ssl
    restart: always
    user: "0:0"
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/live/api.dionis.cloud:/etc/nginx/ssl:ro
      - /etc/letsencrypt/archive/api.dionis.cloud:/etc/nginx/archive/api.dionis.cloud:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
