services:
  nginx:
    image: insale-app:latest         
    container_name: nginx_ssl
    restart: unless-stopped
    user: "0:0"                      
    ports:
      - "8080:80"
      - "443:443"                    
    volumes:
      - /etc/letsencrypt/live/api.dionis.cloud:/etc/nginx/ssl:ro
      - /etc/letsencrypt/archive/api.dionis.cloud:/etc/nginx/archive/api.dionis.cloud:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
