<mat-toolbar>
  <div>
    <button
      mat-icon-button
      (click)="callMenuTrigger()"
      [class.visibility-none]="hideAction"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button (click)="changeTheme()" color="primary">
      <mat-icon>contrast</mat-icon>
    </button>
  </div>
  <span>APP</span>
  <div [class.visibility-none]="hideAction">
    <button mat-icon-button matTooltip="Синхронизация" (click)="onSync()">
      <mat-icon>sync</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      matTooltip="Настройки аккаунта"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openProfile()">
    <mat-icon>person</mat-icon>
    <span>Открыть аккаунт</span>
  </button>
  <button mat-menu-item (click)="editProfile()">
    <mat-icon>edit</mat-icon>
    <span>Изменить данные</span>
  </button>
</mat-menu>
