<mat-toolbar>
  <div>
    <button mat-icon-button (click)="callMenuTrigger()" [class.visibility-none]="hideAction">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button (click)="changeTheme()">
      <mat-icon>contrast</mat-icon>
    </button>
  </div>
  <a [routerLink]="linkToMain">
    <img [ngSrc]="logoSrc" height="44" width="230" priority [alt]="isKeeper ? 'Keeper' : 'Delivery'" class="logo" />
  </a>
  <div [class.visibility-none]="hideAction" class="actions">
    <button mat-icon-button matTooltip="Синхронизация" (click)="onSync()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <mat-icon>sync</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Настройки аккаунта">
      <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOpen]="showSyncNotification && !hideAction"
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayHasBackdrop]="true"
      (backdropClick)="showSyncNotification = false"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop">
      <div class="sync-notification"><mat-icon>person_alert</mat-icon><span>Не забудьте про синхронизацию меню!</span></div>
    </ng-template>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openProfile()">
    <mat-icon>person</mat-icon>
    <span>Открыть аккаунт</span>
  </button>
  <button mat-menu-item (click)="editProfile()">
    <mat-icon>edit</mat-icon>
    <span>Изменить данные</span>
  </button>
</mat-menu>
