:host {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--mat-sys-primary);
  box-shadow: 0 2px 4px var(--mat-sys-outline-variant);
  overflow: visible;
}

.logo {
  height: 100%;
  padding: 10px;
  display: flex;
  width: fit-content;
}

.logo-img {
  max-width: 200px;
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .logo-img {
    max-width: 100px;
    max-height: 25px;
  }
}

.actions {
  position: relative;
}

.sync-notification {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  margin-top: 12px;
  background: var(--mat-sys-secondary);
  color: var(--mat-sys-on-tertiary);

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid var(--mat-sys-secondary);
    right: 6px;
    top: 0;
    z-index: -1;
  }
}
