$dark-theme: (
  primary: #9f8cff,
  on-primary: #fff,
  primary-container: #9f8cff,
  on-primary-container: #fff,
  inverse-primary: #9f8cff,
  primary-fixed: #9f8cff,
  primary-fixed-dim: #9f8cff,
  on-primary-fixed: #9f8cff,
  on-primary-fixed-variant: #9f8cff,
  secondary: #fff,
  on-secondary: #311a81,
  secondary-container: #00cf6f,
  on-secondary-container: #fff,
  secondary-fixed: #e6deff,
  secondary-fixed-dim: #cabeff,
  on-secondary-fixed: #00cf6f,
  on-secondary-fixed-variant: #00cf6f,
  tertiary: #ffffff,
  on-tertiary: #4f4f4f,
  tertiary-container: #45464e,
  on-tertiary-container: #1e1e1e,
  tertiary-fixed: #e2e1eb,
  tertiary-fixed-dim: #c6c6cf,
  on-tertiary-fixed: #1e1e1e,
  on-tertiary-fixed-variant: #45464e,
  background: #293048,
  on-background: #ffffff,
  surface: #293048,
  surface-dim: #131314,
  surface-bright: #3a393a,
  surface-container-lowest: #ffffff,
  surface-container-low: #384261,
  surface-container: #201f20,
  surface-container-high: #ebe7e8,
  surface-container-highest: #353436,
  on-surface: #fff,
  shadow: #000000,
  scrim: #000000,
  surface-tint: #c5c5d8,
  inverse-surface: #e5e1e3,
  inverse-on-surface: #313031,
  outline: #919096,
  outline-variant: #384261,
  neutral: #787677,
  neutral10: #1e1e1e,
  error: #ffb4ab,
  error-container: #93000a,
  on-error: #293048,
  on-error-container: #ffdad6,
  surface-variant: #384261,
  on-surface-variant: #fff,
  neutral-variant: #747872,
  neutral-variant20: #2d322d,
  inverse-secondary: #604fb2,
  inverse-tertiary: #5d5e66,
);

$light-theme: (
  primary: #00cf6f,
  on-primary: #ffffff,
  primary-container: #00cf6f,
  on-primary-container: #1e1e1e,
  inverse-primary: #33e27f,
  primary-fixed: #5fff9a,
  primary-fixed-dim: #33e27f,
  on-primary-fixed: #1e1e1e,
  on-primary-fixed-variant: #005228,
  secondary: #8b7ae0,
  on-secondary: #ffffff,
  secondary-container: #8b7ae0,
  on-secondary-container: #ffffff,
  secondary-fixed: #e6deff,
  secondary-fixed-dim: #cabeff,
  on-secondary-fixed: #1c0062,
  on-secondary-fixed-variant: #483598,
  tertiary: #293048,
  on-tertiary: #ffffff,
  tertiary-container: #e2e1eb,
  on-tertiary-container: #1e1e1e,
  tertiary-fixed: #e2e1eb,
  tertiary-fixed-dim: #c6c6cf,
  on-tertiary-fixed: #1e1e1e,
  on-tertiary-fixed-variant: #45464e,
  background: #ffffff,
  on-background: #5b6373,
  surface: #ffffff,
  surface-dim: #ddd9da,
  surface-bright: #fcf8f9,
  surface-container-lowest: #ffffff,
  surface-container-low: #f3f2fc,
  surface-container: #f1edee,
  surface-container-high: #ebe7e8,
  surface-container-highest: #e5e1e3,
  on-surface: #1e1e1e,
  shadow: #000000,
  scrim: #000000,
  surface-tint: #5c5d6d,
  inverse-surface: #313031,
  inverse-on-surface: #f4f0f1,
  outline: #77767d,
  outline-variant: #f3f2fc,
  neutral: #787677,
  neutral10: #1e1e1e,
  error: #ba1a1a,
  error-container: #ffdad6,
  on-error: #ffffff,
  on-error-container: #410002,
  surface-variant: #f3f2fc,
  on-surface-variant: #434843,
  neutral-variant: #747872,
  neutral-variant20: #2d322d,
  inverse-secondary: #cabeff,
  inverse-tertiary: #c6c6cf,
);
