<app-loading-bar></app-loading-bar>

@if (isAuthenticated()) {
  <app-navbar  [menuToggleSignal]="menuToggleSignal"></app-navbar>}

<mat-sidenav-container class="sidenav-container" [class.all-grid]="!isAuthenticated()">
  <mat-sidenav #sidenav mode="side" [opened]="isShowingMenu">
    <div class="sidenav-wrapper">
      <mat-card class="full-height">
        <mat-nav-list class="sidenav-routes">
          @for (link of navLinks; track link) {
          <a mat-list-item [routerLink]="link.path">{{ link.label }}</a>
          }
        </mat-nav-list>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
