:host {
  display: grid;
  grid-template-rows: 64px auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
}

.sidenav-wrapper {
  border-radius: none;
  height: 100%;
  padding: 20px;
  background-color: var(--mat-sys-primary-container);
}

.mat-drawer-side {
  border: none;
  border-radius: 0;
}

.content {
  height: 100%;
  padding: 20px;
  background-color: var(--mat-sys-primary-container);
}

.all-grid {
  grid-row: span 2;
}
