<app-loading-bar></app-loading-bar>

<app-navbar (menuToggle)="sideNavToggle()"></app-navbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="isShowingMenu">
    <div class="sidenav-wrapper">
      <mat-card class="full-height">
        <mat-nav-list>
          @for (link of navLinks; track link) {
            <a mat-button class="sidenav-routes-item" [routerLink]="link.path">{{ link.label }}</a>
          }
        </mat-nav-list>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
