:host {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}

.sidenav-container {
  margin-top: 64px;
  width: 100%;
  background-color: var(--mat-sys-background);
  display: flex;
}

.mat-drawer.mat-sidenav {
  background-color: transparent;
}

.sidenav-wrapper {
  height: 100%;
  padding: 20px;
}

.mat-drawer-side {
  border: none;
  border-radius: 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0;
}

.sidenav-routes-item.mat-mdc-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0;
  color: var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));
  font-size: 18px;
}
