:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.card {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 1fr);
  gap: 20px;
  max-width: 1200px;
  max-height: 60%;
  padding: 20px;
  border-radius: 24px;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .card {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-card-title {
    order: 1;
  }

  .form {
    order: 2;
  }

  .card-info {
    margin-top: 20px;
    order: 3;
  }
}

.mat-mdc-card-title {
  text-decoration: underline;
  text-decoration-color: var(--mat-sys-primary-fixed);
  text-underline-offset: 04px;
  text-decoration-thickness: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  align-self: center;
  max-width: 550px;
  width: 100%;
}

.mat-mdc-card-actions {
  gap: 15px;
}

.password-icon {
  cursor: pointer;
  margin-right: 4px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: fit-content;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
  width: fit-content;

  h1 {
    font-size: 40px;
    margin: 0;
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 44px;
    }
  }

  span {
    font-size: 24px;
  }
}

.link {
  text-align: center;
}
