<mat-expansion-panel class="card">
  <mat-expansion-panel-header>
    <mat-panel-title>Дополнительная информация</mat-panel-title>
  </mat-expansion-panel-header>

  <div>
    <h3>Что произойдет после синхронизации:</h3>
    <ul>
      <li>
        <strong>Добавятся поля для заказа:</strong>
        <ul>
          <li>Комментарий к адресу</li>
          <li>Количество персон</li>
          <li>С какой суммы приготовить сдачу</li>
          <li>Доставка как можно быстрее</li>
        </ul>
      </li>
      <li>
        <strong
          >Добавляется дополнительный статус при внутренней ошибке
          системы:</strong
        >
        <ul>
          <li>Внутренняя ошибка Rkeeper</li>
        </ul>
      </li>
      <li>
        <strong>Добавляется поле для продукта:</strong>
        <ul>
          <li>КБЖУ (Калории, Белки, Жиры, Углеводы)</li>
        </ul>
      </li>
      <li>
        Синхронизация меню может занять до 10 минут, если в меню больше 200
        позиций.
      </li>
    </ul>

    <h3>Важно:</h3>
    <p>Заказы начнут отправляться только после выполнения следующих действий:</p>
    <ul>
      <li>Выбор типа системы и заполнение данных.</li>
      <li>Синхронизация с меню.</li>
      <li>Выбор типа оплаты (card/cash/online):</li>
      <ul>
        <li>
          <strong>card:</strong> "оплата картой", "картой", "оплата картой
          курьеру"
        </li>
        <li>
          <strong>cash:</strong> "оплата наличными", "наличные", "наличкой",
          "оплата наличными курьеру"
        </li>
        <li>
          <strong>online:</strong> "онлайн оплата", "онлайн", "через банковский
          перевод", "картой в магазине".
        </li>
      </ul>
      <p><em>Тип "online" пока что не поддерживается.</em></p>
    </ul>
  </div>
</mat-expansion-panel>
