@let user = shop() | async;
@if (user) {
  <mat-card class="card">
    <mat-card-content class="card-content">
      <div class="card-content-item">
        <strong>Email:</strong>
        <span>{{ user.email }}</span>
      </div>

      <div class="card-content-item">
        <strong>Тип магазина:</strong>
        <span>{{ user.export_type === exportType.Delivery ? 'Доставка' : 'WSA' }}</span>
      </div>

      @if (user.params) {
        @let client = clientInfo(user);
        @if (user.export_type === exportType.Delivery) {
          <div class="card-content-item">
            <strong>Client ID:</strong>
            <span>{{ client.login }}</span>
          </div>
          <div class="card-content-item">
            <strong>Client Secret:</strong>
            <span>{{ client.password }}</span>
          </div>
        } @else if (user.export_type === exportType.WSA) {
          <div class="card-content-item">
            <strong>Object ID:</strong>
            <span>{{ client.login }}</span>
          </div>
          <div class="card-content-item">
            <strong>WSA Token:</strong>
            <span>{{ client.password }}</span>
          </div>
        }
      }
      <mat-divider></mat-divider>
      <button mat-flat-button (click)="editProfile()" class="card-content-button">
        <mat-icon>edit</mat-icon>
        <span>Изменить данные</span>
      </button>
    </mat-card-content>
  </mat-card>
}
