@let user = shop() | async; @if (user) {
<mat-card class="card">
  <mat-card-title>👤 Пользователь #{{ user.id }}</mat-card-title>
  <mat-card-subtitle
    ><strong>Email:&nbsp;</strong>{{ user.email }}</mat-card-subtitle
  >

  <mat-divider></mat-divider>

  <mat-card-content class="card-content">
    <div class="content-container">
      <button
        mat-raised-button
        (click)="editProfile()"
        class="card-content-button"
      >
        <mat-icon>edit</mat-icon>
        <span>Изменить данные</span>
      </button>
      <div class="card-content-item">
        <strong>Тип магазина:</strong>
        <span>{{
          user.export_type === exportType.Delivery ? "Доставка" : "WSA"
        }}</span>
      </div>

      @if (user.params) { @let client = clientInfo(user); @if (user.export_type
      === exportType.Delivery) {
      <div class="card-content-item">
        <strong>Client ID:</strong>
        <span>{{ client.login }}</span>
      </div>
      <div class="card-content-item">
        <strong>Client Secret:</strong>
        <span>{{ client.password }}</span>
      </div>
      } @else if (user.export_type === exportType.WSA) {
      <div class="card-content-item">
        <strong>Object ID:</strong>
        <span>{{ client.login }}</span>
      </div>
      <div class="card-content-item">
        <strong>WSA Token:</strong>
        <span>{{ client.password }}</span>
      </div>
      } }
    </div>
    <div class="content-container">
      <div class="card-content-item">
        <strong>Shop URL:</strong>
        <a [href]="user.shop_url" target="_blank">{{ user.shop_url }}</a>
      </div>
      <div class="card-content-item">
        <strong>Insales ID:</strong>
        <span>{{ user.insales_id }}</span>
      </div>
      <div class="card-content-item">
        <strong>Синхронизация:</strong>
        <span>{{ booleanToText(user.is_synchronous) }}</span>
      </div>
    </div>
    <div class="card-content-container">
      <div class="card-content-item">
        <strong>Роль:</strong>
        <span>{{ user.role }}</span>
      </div>
      <div class="card-content-item">
        <strong>Активен:</strong>
        <span>{{ booleanToText(user.is_active) }}</span>
      </div>
      <div class="card-content-item">
        <strong>Суперпользователь:</strong>
        <span>{{ booleanToText(user.is_superuser) }}</span>
      </div>
      <div class="card-content-item">
        <strong>Верифицирован:</strong>
        <span>{{ booleanToText(user.is_verified) }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
}
