:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 20px;
  gap: 20px;
  max-width: 90%;
  width: fit-content;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
  width: fit-content;
}

.card-content-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}

.card-content-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-content-item strong {
  font-size: 16px;
  line-height: 20px;
}

.card-content-item span {
  font-size: 18px;
  line-height: 22px;
}
