.app-loading {
  position: fixed;
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.app-loading:after {
  content: ' ';
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-color: #00cf6f transparent #00cf6f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
