/* You can add global styles to this file, and also import other style files */
@use "ngx-toastr/toastr";
@use "styles/themes.scss";

html * {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

body {
  min-width: 100vw;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.display-none {
  display: none;
}

.visibility-none {
  visibility: hidden;
}

.mdc-list-item__primary-text {
  color: inherit;
}

.mat-menu-custom.mat-mdc-menu-panel {
  transform-origin: right top;
  min-width: unset;
  max-width: unset;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
